<a href="https://colab.research.google.com/github/junaedmia123/Python-Practice/blob/main/LIST_%26_TUPLES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lists in Python"''
""" A list in data type that stores set of values. It can store elements of different types (integer, float, string, etc.)
marks1 = 94.4
marks2 = 87.5
marks3 = 95.2
marks4 = 66.4
marks = 45.1

but it can easily written in List use"""

In [ ]:
marks = [94.4, 87.5, 95.2, 66.4, 45.1]
print(marks)
print(type(marks))
print(len(marks))

print(marks[0])
print(marks[1])

In [ ]:
Student = ["keran", 95, 66.4, "Delhi"]
print(Student)
print(type(Student))

""" List support various data types
strings = immutable but list = mutable (changeable)"""
#In Python, if an earlier line fails with an error, execution stops right there. Later lines wonâ€™t run until the error is fixed.

str = "hello"
print(str)
str[0] = "h" # 'str' object does not support item assignment
print(str)

In [ ]:
# but
Student = ["keran", 95, 66.4, "Delhi"]
print(Student)
Student[0] = "arjun"  # 'list' object does support item assignment
print(Student)

['keran', 95, 66.4, 'Delhi']
['arjun', 95, 66.4, 'Delhi']

In [ ]:
Student = ["keran", 95, 66.4, "Delhi"]
print(Student[4]) # this is error index

In [ ]:
#List Slicing
#similar to string slicing
'''list_name[starting_idx : ending_idx] # ending idx is not included'''

marks = [85, 94, 76, 63, 48]
print(marks[1:4])
print(marks[1:])
print(marks[:4])

#negative index
print(marks[-4:-3])

[94, 76, 63]
[94, 76, 63, 48]
[85, 94, 76, 63]
[94]

In [ ]:
#List Methods
"""append()	Adds an element at the end of the list"""
list = [2,1,3]
list.append(6)
print(list)

[2, 1, 3, 6]

In [ ]:
#ascending order list
list = [2,1,3]
list.sort()
print(list)

[1, 2, 3]

In [ ]:
#descending order
list = [2,1,3]
list.sort(reverse=True)
print(list)

[3, 2, 1]

In [ ]:
#string sorting follows characterwise
Fruits = ["banana", "litchi", "Apple"]
Fruits.sort()
print(Fruits)

['Apple', 'banana', 'litchi']

In [ ]:
#descending characterwise
Fruits = ["banana", "litchi", "Apple"]
Fruits.sort(reverse = True)
print(Fruits)

['litchi', 'banana', 'Apple']

In [ ]:
characters = ['a', 'b', 'c', 'd', 'e', 'f']
characters.append('g')
characters.sort(reverse = True)
print(characters)

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#.reverse () function
characters = ['a', 'c', 'd', 'f', 'b', 'e']
characters.reverse()
print(characters)

['e', 'b', 'f', 'd', 'c', 'a']

In [ ]:
#.insert(idx, el)
characters = ['a', 'c', 'd', 'f', 'b', 'e']
characters.insert(2, 'g')
print(characters)

['a', 'c', 'g', 'd', 'f', 'b', 'e']

In [ ]:
#.remove(no.) method
characters = ['a', 'c', 'd', 'f', 'd', 'e']
characters.remove('d') # removes first occurrence of element
print(characters)

['a', 'c', 'f', 'd', 'e']

In [ ]:
#.pop(idx) funtion
characters = ['a', 'b', 'c', 'd', 'e', 'f']
characters.pop(2)
print(characters)

['a', 'b', 'd', 'e', 'f']

In [ ]:
#Tuples in Python
number = (1,2,3,4,5,)
print(type(number))
print(number[2])
#number[1] = 5 'tuple' object does not support item assignment

<class 'tuple'>
3

In [ ]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [ ]:
tup = (1,)
print(tup)
print(type(tup))

#but
tup = (1)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>
1
<class 'int'>

In [ ]:
#tuple slicing
number = (1,2,3,4,5)
print(number[2:4])

(3, 4)

In [ ]:
#tuple MEthods
tup = (1, 2, 3, 3, 4, 5)
tup.index(2)

1

In [ ]:
#tuple MEthods
tup = (1, 2, 3, 3, 4, 5)
tup.count(3)

2

In [ ]:
#Let's Practice
# WAP to ask the user to enter names of their 3 favourite movies & store them in a list
movies = []
mov1 = input("enter 1st movie name: ")
mov2 = input("enter 2nd movie name: ")
mov3 = input("enter 3rd movie name: ")
movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter 1st movie name: The life of Pie
enter 2nd movie name: Thirteen Lives
enter 3rd movie name: Apocalypto
['The life of Pie', 'Thirteen Lives', 'Apocalypto']

In [ ]:
movies = []
movies.append(input("enter 1st movie name: "))
movies.append(input("enter 2nd movie name: "))
movies.append(input("enter 3rd movie name: "))
print(movies)

enter 1st movie name: Daruchini dip
enter 2nd movie name: Ora 11 jon
enter 3rd movie name: Amar bondhu Rashed
['Daruchini dip', 'Ora 11 jon', 'Amar bondhu Rashed']

In [ ]:
#WAP to check if a list a palindrome of elements
list1 = [1,2,3]
copy_list1 = list1.copy()
copy_list1.reverse()
if list1 == copy_list1:
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [ ]:
'''WAP to count the number of students with "A" grade in the following tuple
["c", "D", "A", "A", "B", "B", "A"]
Store the above values in a list & sort them from "A" To "D". '''

grade = ["c", "D", "A", "A", "B", "B", "A"]
print(grade.count("A"))
grade.sort()
print(grade)

3
['A', 'A', 'A', 'B', 'B', 'D', 'c']