<a href="https://colab.research.google.com/github/junaedmia123/Python-Practice/blob/main/Strings_%26_Conditional_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = "This is a string."
str2 = 'ApnaCollege'
str3 = """This is a string"""
#Python see it(') as a single qoutation that's why we should enclose it in double qoutation sign
# 'This is apnacollege's tutorial' - this is Wrong
# "This is apnacollege's tutorial" - this is right

In [ ]:
str1 = "This is a string. We are creating it in python."
print(str1)

In [ ]:
str1 = "This is a string.\nWe are creating it in python."
print(str1)
str2 = "This is a string.\tWe are creating it in python."
print(str2)

In [ ]:
str1 = "apna"
str2 = "college"
print(str1 + str2)

# now think it another way
final_str = str1+str2
print(final_str)

apnacollege
apnacollege

In [ ]:
# len function
str1 = "apna"
len1 = str1
print(len(str1))
str2 = "college"
len2 = str2
print(len(str2))
final_str = str1 +str2
print(len(final_str))

# len count everything like space, any count ,etc
final_str = str1 + " " +str2
print(len(final_str))

In [ ]:
# Indexing

str = "apna college"
ch = str[1]
print(ch)

#or
ch = str[-1]
print(ch)

# or
print(str[5])
''' indexing character access possible not mainuplate it
str[4] = "@"
print(str) - That is not allowed'''

p
e
c

' indexing character access possible not mainuplate it\nstr[4] = "@"\nprint(str) - That is not allowed'

In [ ]:
# slicing
str = "apna college"
print(str[1:4])
print(str[1:5])

print(str[0:4])
#or
print(str[:4]) # [0:4]

print(str[5:12])
#or
print(str[5:len(str)])
#or
print(str[5:]) # [5: len(str)]

pna
pna
apna
apna
college
college
college

In [ ]:
# slicing negative index

str = "Apple"
print(str[-3:-1])

print(str[-5:-2])

pl
App

In [ ]:
# String Function
str = 'I am studying at Apna College'  # returns true if string ends with substr
str.endswith("ege")

True

In [ ]:
str = 'i am studying at Apna College'
print(str.capitalize())
print(str)

I am studying at apna college
i am studying at Apna College

In [ ]:
str = 'i am studying at Apna College'
str = (str.capitalize())
print(str)

I am studying at apna college

In [ ]:
# Replace function # Replaces all occurrences of old with new
str = 'i am studying Python from Apna College'
str = str.replace("o", "a")
print(str)

str = 'i am studying Python from Apna College'
str = str.replace("Python", "Javascipt")
print(str)

In [ ]:
# find Function # returns 1st index of 1st occurrerence
str = 'i am studying Python from Apna College'
print(str.find("Python"))
print(str.find("Apna"))

In [ ]:
# count functin #counts the occurrence of substr in string
str = 'i am studying from Python from Apna College'
print(str.count("o"))
print(str.count("from"))

In [ ]:
# Let's practice
# WAP to input user's first name & print its length
str = " My first name is Junaed"
print(len(str))

24

In [ ]:
str = input("Enter your First Name: ")
print("length of your name is", len(str))

In [ ]:
# WAP to find the occurrence of "$" in a string

str = "My name is $junaed 99$ $"
print(str.count("$"))

In [ ]:
# Conditional Statements
age = 24
if(age >= 18):
  print("can vote and apply for license")

can vote and apply for license

In [ ]:
# or
light = "green"

if(light == "red"):
    print("stop")
elif(light == "green"):
    print("go")
elif(light == "yellow"):
    print("ready")


print("end of code")

In [ ]:
num = 5

if(num > 2):
  print("greater than 2")
if(num > 1):
  print("greater than 1")

# on the otherhand elif statement is working when if statement is becomig false

if(num > 6):
  print("greater than 2")
elif(num > 3):
  print("greater than 1")

In [ ]:
# else statement working when everything is false
light = "pink"

if(light == "red"):
    print("stop")
elif(light == "green"):
    print("go")
elif(light == "yellow"):
    print("ready")
else:
  print("light is broken")

light is broken

In [ ]:
age = 20
if(age >=18):
  print("can vote") #indentation
else:
  print("can't vote")

can vote

In [ ]:
#Conditional Statement
#Grade on student marks based

marks = input("Enter your marks: ")
marks = int(marks)

if(marks >=80):
  Grade = "A+"
elif(marks >=75 and marks <80):
  Grade = "A"
elif(marks >=70 and marks <75):
  Grade = "A-"
elif(marks >=65 and marks <70):
  Grade = "B+"
elif(marks >=60 and marks <65):
  Grade = "B"
elif(marks >=55 and marks <60):
  Grade = "B-"
elif(marks >=50 and marks <55):
  Grade = "C+"
elif(marks >=45 and marks <50):
  Grade = "C"
elif(marks >=40 and marks <45):
  Grade = "D"
elif(marks <40):
  Grade = "F"
print("Your Grade is" , Grade)

In [ ]:
# Let's Practice
#WAP to check if a number entered by the user is odd or even
Number = input("Enter the number: ")
Number = int(Number)
if(Number % 2 == 0):
  print("Even")
else:
    print("Odd")

Enter the number: 34
Even

In [ ]:
#WAP to find the greatest of 3 numbers entered by the user
a= int(input("Enter first number: "))
b= int(input("Enter second number: "))
c= int(input("Enter third number: "))
if(a>b and a>c):
  print("First number is largest", a)
elif(b>c):
  print("Second number is largest", b)
elif(a== b== c):
  print("All are equal")
else:
  print("Third number is largest", c)

In [ ]:
#WAP to check if a number is a multiple of 7 or not
x = int(input("Enter the number: "))
if(x % 7 == 0):
  print("Multiple of 7")
else:
  print("Not a multiple of 7")

Enter the number: 21
Multiple of 7

In [ ]:
# WAp to convert credit to ECTS
Credit = int(input("Enter Your Course credit: "))
Credit = Credit * 1.5
print("Your ECTS is", Credit)

Enter Your Course credit: 5
Your ECTS is 7.5

In [ ]:
#WAP that takes a single character as input and checks wheather it is a vowel or consonant
character = input("Enter a character: ")
if(character == "a"or character=="e" or  character== "i" or character== "o" or character=="u"):
  print("The character is Vowel",)
else:
  print("Consonant")

Enter a character: u
The character is Vowel

In [ ]:
#WAP to check word Palindrome
word = input("Enter a word: ")
if(word.lower() == word.lower()[::-1] ):
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a word: Madam
Palindrome

In [ ]:
password = input("Enter a password: ")

if len(password) >= 8 and any(char.isdigit() or char.isupper() for char in password):
    print("Valid Password")
else:
    print("Weak password")